<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>user_showLidar</title>
</head>
<body>
    <div align="center">
        <img id="openLidar" style="height:270px; width:480px;">
        <br>
        <input id="openLidarBTN" onclick="openLidarFunction()" type="button" value="開始測量身材">
        {% block content %}
            {% if UserImg.image %}
                {% comment %} <img src="{{ UserImg.image.url }}" alt="UserImg"> {% endcomment %}
            {% endif %}
        {% endblock  %}
        <br>
        <p id="start"></p>
        <p><strong><span id="measurement"></span></strong></p>
        <form method="post" action="http://25.69.108.176:8000/user_selectCloth">
            {% csrf_token %}
            <br>
            <input id="originalPoseImg" name="originalPoseImg" type="hidden">
            <input id="poseImg" name="poseImg" type="hidden">
            <input id="keypoints" name="keypoints" type="hidden">
            <input id="shoulderWidth" name="shoulderWidth" type="hidden">
            <input id="chestWidth" name="chestWidth" type="hidden">
            <input id="clothingLength" name="clothingLength" type="hidden">
            <button id="user_selectCloth" onclick="" type="submit">確認漂亮的自己並進到下一步去選擇漂亮衣服</button>
        </form>
        <p id="sendData"></p>
        <p><strong>已重新測量: </strong><span id="visits">0 次</span></p>
    </div>
</body>
<script type="text/javascript" src="http://blogs.sitepointstatic.com/examples/tech/js-session/json-serialization.js"></script>
<script type="text/javascript" src="http://blogs.sitepointstatic.com/examples/tech/js-session/session.js"></script>
<script type="text/javascript">
    var counter = Session.get("counter") || {
        visits: 0,
        time: []
    };
    // onload
    window.onload = function() {
        // update previous visits
        counter.visits++;
        // update page
        document.getElementById("visits").firstChild.nodeValue = counter.visits + " time" + (counter.visits == 1 ? "" : "s");
        // store value in session
        Session.set("counter", counter);
        // check measurement and update data
        if (counter.visits <= 1) {
            document.getElementById("measurement").style.visibility = "hidden";
            document.getElementById("user_selectCloth").style.visibility = "hidden";
        }
        else {
            document.getElementById("openLidar").src="{{ UserImg.image.url }}";
            document.getElementById("openLidarBTN").value = "重新測量身材";
            document.getElementById("originalPoseImg").value = '{{ originalPoseImg }}';
            document.getElementById("poseImg").value = '{{ poseImg }}';
            document.getElementById("keypoints").value = '{{ keypoints }}';
            document.getElementById("shoulderWidth").value = "{{ shoulderWidth }}";
            document.getElementById("chestWidth").value = "{{ chestWidth }}";
            document.getElementById("clothingLength").value = "{{ clothingLength }}";
            document.getElementById("measurement").value = "{{ measurement }}";
            var m = Number(document.getElementById("measurement").value)
            console.log(m, typeof m);

            if (m == 0){
                document.getElementById("measurement").innerHTML = "測量失敗，請再重新測量一次！";
                document.getElementById("user_selectCloth").style.visibility = "hidden";
            }
            else {
                document.getElementById("measurement").innerHTML = "測量成功，請進入下一步選擇衣服！";
                document.getElementById("user_selectCloth").style.visibility = "visible";
            }
        }
    };

    function openLidarFunction() {  
        document.getElementById("openLidar").src="http://127.0.0.1:8000/openLidar";
        setTimeout(function(){ 
            document.getElementById("start").style.visibility = "hidden";
        }, 5000);  
        setTimeout(function(){ 
            window.location = window.location
        }, 8000);  
    };
</script>
</html>