<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet"></link>
    <title>user_selectCloth</title>
</head>
<body>
    <section class="text-center">
        <div class="container">
            <h1>
                user_selectCloth
            </h1>
        </div>
        
    <form method="post" action="user_showResult">
    {% csrf_token %}
    {% block content %}
    <div class="container">
    <div class="row">
        {% for cloth in app %}
            {% if cloth.image %}
                <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <label id="imgButton">
                        <img  class="card-img-top" src="{{ cloth.image.url }}" alt="{{cloth.id}}"/>
                        <input type="radio"  name="cloth" value={{cloth.id}}>
                    </label>        
                </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    </div>
    {% endblock  %}

    {{ json_keypoints }}
    {{ json_user_img_data }}
    
    <button>確認試穿</button>
    </form> 
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>